<!-- Summary table -->
<div class="row mx-3 summary-table" *ngIf="this.summaryData.data != null">
    <div class="header">
        <p>Corona virus cases by country</p>
    </div>    
    <div class="table-wrapper">
        <table class="table table-bordered col-md-12">
            <thead>
                <th>Country <br> 
                    <fa-icon [icon]="faAngleUp" (click)="this.sortCountryData(0,true)"></fa-icon>
                    <fa-icon [icon]="faAngleDown" (click)="this.sortCountryData(0,false)"></fa-icon>
                </th>
                <th>New cases <br> 
                    <fa-icon [icon]="faAngleUp" (click)="this.sortCountryData(2,true)"></fa-icon>
                    <fa-icon [icon]="faAngleDown" (click)="this.sortCountryData(2,false)"></fa-icon>
                </th>
                <th>Total cases <br> 
                    <fa-icon [icon]="faAngleUp" (click)="this.sortCountryData(3,true)"></fa-icon>
                    <fa-icon [icon]="faAngleDown" (click)="this.sortCountryData(3,false)"></fa-icon>
                </th>
                <th>New recoveries <br> 
                    <fa-icon [icon]="faAngleUp" (click)="this.sortCountryData(4,true)"></fa-icon>
                    <fa-icon [icon]="faAngleDown" (click)="this.sortCountryData(4,false)"></fa-icon>
                </th>
                <th>Total recoveries <br> 
                    <fa-icon [icon]="faAngleUp" (click)="this.sortCountryData(5,true)"></fa-icon>
                    <fa-icon [icon]="faAngleDown" (click)="this.sortCountryData(5,false)"></fa-icon>
                </th>
                <th>New Deaths <br> 
                    <fa-icon [icon]="faAngleUp" (click)="this.sortCountryData(6,true)"></fa-icon>
                    <fa-icon [icon]="faAngleDown" (click)="this.sortCountryData(6,false)"></fa-icon>
                </th>
                <th>Total Deaths <br>
                    <fa-icon [icon]="faAngleUp" (click)="this.sortCountryData(7,true)"></fa-icon>
                    <fa-icon [icon]="faAngleDown" (click)="this.sortCountryData(7,false)"></fa-icon>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let country of this.countryData" (click)="this.goToCountry(country)">
                    <td>{{country[0]}}</td>
                    <td *ngFor="let i of [2,3,4,5,6,7]">{{country[i] | number}}</td>
                </tr>  
            </tbody>
        </table>
    </div>
</div>
<div class="date">
    <p>Last update: {{this.summaryData.getDate() | date}}</p>
</div>
