.virus-icon {
    height: 30px;
    width: 30px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/covid19-maximebeurey.appspot.com/o/virus_icon.png?alt=media&token=ed2dfdaf-c390-4dd6-8553-2fcff2db2da4");
    background-size: cover;
    display: inline-block;
    align-self: center;
    margin-right: 2px;
}

h1, h3.subtitle {
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
}

h3.subtitle {
    color: #777777
}

div.country {
    max-width: 1200px;
    min-height: 4em;
    color: white;
    height: auto;
    overflow-y: auto;
    border: 4px solid white;
    background-color: #444444;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}

div.country p {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.country span {
    color: white;
    margin: 10px;
    font-weight: 900;
}

div.country p a {
    color: #4580ff;
}

div.country p a:hover {
    cursor: pointer;
    text-decoration: underline;
}

div.no-country {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 900;
    text-transform: capitalize;
    color: red;
}

div.no-country p {
    font-weight: 900;
    text-transform: capitalize;
    color: red;
    text-align: center;
    font-size: 60px;
}

div.no-country p.go-back {
    border: 4px solid red;
}

div.no-country p.go-back:hover {
    color: white;
    background: red;
}

table {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

th {
    background-color: #eeeeee;
    border: 4px solid white;
    text-align: center;
    text-transform: capitalize;
}

td:nth-child(2) {
    text-align: right;
}

tr.cases {
    background-color: #fde29d;
}

tr.recovered {
    background-color: #87c7f3;
}

tr.deaths {
    background-color: #ed97ab;
}

td {
    border: 4px solid white;
    text-transform: capitalize;
}

div.date {
    padding-left: 8px;
    text-align: left;
    font-size: 14px;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 100;
    color: #444444;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

div.pie-chart div.header {
    max-width: 1200px;
    min-height: 4em;
    height: auto;
    overflow-y: auto;
    border: 4px solid white;
    background-color: #eeeeee;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-weight: 600;
    text-transform: capitalize;
}

div.pie-chart div.header p {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.pie-chart canvas {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-transform: capitalize;
    background-color: #eeeeee;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer p {
    color: black;
    font-weight: 500;
}
