<!-- Title -->
<div class="my-5 title">
    <h1><span class="virus-icon"></span>COVID-19</h1>
    <h3 class="subtitle">Live updates and statistics</h3>
</div>

<!-- Summary table -->
<div class="row mx-3 summary-table">
    <table class="table table-bordered col-md-12">
        <thead>
            <th colspan="2">Coronavirus summary worldwide</th>
        </thead>
        <tbody>
            <tr class="cases">
                <td>Total cases</td>
                <td>Value to find</td>
            </tr>
            <tr class="cases">
                <td>New cases</td>
                <td>Value to find</td>
            </tr>
            <tr class="cases">
                <td>Active cases</td>
                <td>Value to find</td>
            </tr>
            <tr class="recovered">
                <td>Total recovered</td>
                <td>Value to find</td>
            </tr>
            <tr class="recovered">
                <td>New recovered</td>
                <td>Value to find</td>
            </tr>
            <tr class="recovered">
                <td>Recovery rate</td>
                <td>Value to find</td>
            </tr>
            <tr class="deaths">
                <td>Total deaths</td>
                <td>Value to find</td>
            </tr>
            <tr class="deaths">
                <td>New death</td>
                <td>Value to find</td>
            </tr>
            <tr class="deaths">
                <td>Mortality rate</td>
                <td>Value to find</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Pie chart -->
<div class="m-3 pie-chart">
    <div class="header">
        <p>Corona virus cases distribution worldwide</p>
    </div>
    <canvas baseChart
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
    </canvas>
</div>