<!-- Title -->
<div class="my-5 title">
    <h1><span class="virus-icon"></span>COVID-19</h1>
    <h3 class="subtitle">Live updates and statistics</h3>
</div>

<!-- Summary table -->
<div class="row mx-3 summary-table" *ngIf="this.summaryData.data != null">
    <table class="table table-bordered col-md-12">
        <thead>
            <th colspan="2">Corona virus summary worldwide</th>
        </thead>
        <tbody>
            <tr class="cases">
                <td>Total cases</td>
                <td>{{this.summaryData.getTotalCases() | number}}</td>
            </tr>
            <tr class="cases">
                <td>New cases</td>
                <td>{{this.summaryData.getNewCases() | number}}</td>
            </tr>
            <tr class="cases">
                <td>Active cases</td>
                <td>{{this.summaryData.getActiveCases() | number}}</td>
            </tr>
            <tr class="recovered">
                <td>Total recovered</td>
                <td>{{this.summaryData.getTotalRecovered() | number}}</td>
            </tr>
            <tr class="recovered">
                <td>New recovered</td>
                <td>{{this.summaryData.getNewRecovered() | number}}</td>
            </tr>
            <tr class="recovered">
                <td>Recovery rate</td>
                <td>{{this.summaryData.getRecoveryRate()}}<span>&#37;</span></td>
            </tr>
            <tr class="deaths">
                <td>Total deaths</td>
                <td>{{this.summaryData.getTotalDeaths() | number}}</td>
            </tr>
            <tr class="deaths">
                <td>New death</td>
                <td>{{this.summaryData.getNewDeaths() | number}}</td>
            </tr>
            <tr class="deaths">
                <td>Mortality rate</td>
                <td>{{this.summaryData.getMortalityRate()}}<span>&#37;</span></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="date">
    <p>Last update: {{this.summaryData.getDate() | date}}</p>
</div>

<!-- Pie chart -->
<div class="m-3 chart" *ngIf="this.summaryData.data != null">
    <div class="header">
        <p>Corona virus cases distribution worldwide</p>
    </div>
    <canvas baseChart
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
    </canvas>
</div>
<div class="date">
    <p>Last update: {{this.summaryData.getDate() | date}}</p>
</div>


<!-- Bar chart -->
<div class="m-3 chart" *ngIf="this.dailyData.data != null">
    <div class="header">
        <p>Daily corona virus cases worldwide</p>
    </div>
    <canvas baseChart
    [datasets]="barChartDatasets" 
    [labels]="barChartLabels" 
    [chartType]="barChartType"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend">
    </canvas>
</div>
<div class="date">
    <p>Last update: {{this.dailyData.getDate() | date}}</p>
</div>


<!-- Line chart -->
<div class="m-3 chart" *ngIf="this.totalData.data != null">
    <div class="header">
        <p>Total corona virus cases worldwide</p>
    </div>
    <canvas baseChart
    [datasets]="lineChartDatasets" 
    [labels]="lineChartLabels" 
    [chartType]="lineChartType"
    [options]="lineChartOptions"
    [plugins]="lineChartPlugins"
    [legend]="lineChartLegend">
    </canvas>
</div>
<div class="date">
    <p>Last update: {{this.totalData.getDate() | date}}</p>
</div>


<!-- summary by country -->
<app-summary-by-country></app-summary-by-country>

<footer class="page-footer">
    <p>
        Data source: 
        <a href="https://covid19api.com/" target="_blank" rel="noopener noreferrer">
            COVID-19 API / Johns Hopkins CSSE
        </a>
    </p>
</footer>