<div class="my-5">
    <h1><span class="virus-icon"></span>COVID-19</h1>
    <h3 class="subtitle">Live updates and statistics</h3>
</div>
<div class="row mx-3">
    <table class="table table-bordered col-md-12">
        <thead>
            <th colspan="2">Coronavirus summary worldwide</th>
        </thead>
        <tbody>
            <tr class="cases">
                <td>Total cases</td>
                <td>Value to find</td>
            </tr>
            <tr class="cases">
                <td>New cases</td>
                <td>Value to find</td>
            </tr>
            <tr class="cases">
                <td>Active cases</td>
                <td>Value to find</td>
            </tr>
            <tr class="recovered">
                <td>Total recovered</td>
                <td>Value to find</td>
            </tr>
            <tr class="recovered">
                <td>New recovered</td>
                <td>Value to find</td>
            </tr>
            <tr class="recovered">
                <td>Recovery rate</td>
                <td>Value to find</td>
            </tr>
            <tr class="deaths">
                <td>Total deaths</td>
                <td>Value to find</td>
            </tr>
            <tr class="deaths">
                <td>New death</td>
                <td>Value to find</td>
            </tr>
            <tr class="deaths">
                <td>Mortality rate</td>
                <td>Value to find</td>
            </tr>
        </tbody>
    </table>
</div>
